.mermaid {
    overflow: hidden;
}

#input {
    width: 100%;
}

#render {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn-area {
    border-bottom-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
}

#highlight-node {
    width: 40%;
}